#heading {
  font-family: Inter;
  font-size: 76px;
  line-height: 78px;
  font-weight: 700;
  color: black;
  margin: 0;
}

#subheading {
  font-family: Inter;
  font-size: 32px;
  line-height: 32px;
  font-weight: 400;
  color: black;
  margin: 0;
}

#text {
  padding-top: 15%;
  padding-left: 10%;
}
